:root {
  --main-Dark-Slate-Grey: hsl(234, 29%, 20%);
  --main-Charcoal-Grey: hsl(235, 18%, 26%);
  --main-Grey: hsl(231, 7%, 60%);
  --main-White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: var(--main-Charcoal-Grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#main-page {
  max-width: 60rem;
  background-color: var(--main-White);
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 40px;
}

h1{
  font-family: 'Roboto', sans-serif;
  color:  var(--main-Dark-Slate-Grey);
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

p{
  color:var(--main-Dark-Slate-Grey) ;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2rem;
}

.box{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.box p{
  margin: 0.6rem 0 ;
}

.box svg {
  width: 100%;
  height: auto;
  max-width: 21px;
}
 
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  margin: 3rem;
}

label{
  color:var(--main-Dark-Slate-Grey) ;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: block;
  margin-top: 2rem;
}


input{
  min-height: 3.5rem;
  width: 100%;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 8px;
  margin-top: 0.7rem;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
}

input::placeholder {
  color: hsl(231, 7%, 60%) ;
  font-size: 1rem;
}

input:focus{
  color: hsl(234, 29%, 20%) ;
  padding-left: 1.5rem;
}

button{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  min-height: 3.5rem;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  padding: 0.4rem 0.8rem;
  background-color:  hsl(234, 29%, 20%);
  text-align: center;
  border-radius: 8px;
  margin-top: 1.5rem;
  border-color: transparent;
  transition: background-color 0.3s ease-out;
}

button:hover{
  background-color: hsl(4, 100%, 67%);
  box-shadow: 5px 5px 4px hsla(4, 100%, 67%, 0.396);
}

.img{
  width: 100%;
  height: 100%;
  text-align: center; /* Optional: Center the image horizontally */
  overflow: hidden;
}

.img svg {
  width: auto;
  max-width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}


/*   .img svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  } */


  @media screen and (max-width: 375px) {

    body{
      background-color:var(--main-White) ;
    }

    #main-page {
      flex-direction: column;
      padding: 0rem;
      border-radius: 0px;
    }
    .right {
      width: 100%;
      margin: 0;
      padding: 1.5rem;
    }

    .left {
      order: -1;
    }

    .img{
      width: 100%;
      height: 50%;
      text-align: center; /* Optional: Center the image horizontally */
      overflow: hidden;
    }
    .img svg {
      width: auto;
      max-width: 100%;
      height: 100%;
    }
    
    
  }